html,body {
    min-height: 100%;
    min-width: 100%;
    background-color: aquamarine;
}
#bookDisplay {
    width: 100%;
    display: grid;
    min-height: 70rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 15rem);
    grid-auto-rows: 15rem;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}
.bookCell {
    background-color: aqua;
}