html {
    min-height: 100%;
    min-width: 100%;
}
body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #556884;
    min-width: 100%;
}
#bookDisplay {
    width: 80%;
    display: grid;
    min-height: 60vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 12vh);
    grid-auto-rows: 12vh;
    gap: 2rem;
    margin-top: 2rem;
    background-color: #8d5a69;
    border: 2rem;
    border-color: #8d5a69;
    border-style: solid;
}
.bookCell {
    background-color: #556884;
}